// =============================================================================
// app variables
// =============================================================================

/* colors */
$primary-color-1: #05668D; /*rgba(5, 102, 141, 100)*/
$primary-color-2: #00A896; /*rgba(2, 128, 144, 100)*/
$primary-color-3: #009688; /*rgba(0, 168, 150, 100)*/
$vibrant-green: #02c39a; /*rgba(2, 195, 154, 100)*/
$mild-yellow: #f0f3bd; /*rgba(240, 243, 189, 100)*/